* {
  box-sizing: border-box;
  /* padding: 1px; */
  margin: 1px;
}

body {
  display: flex; flex-direction: column;
  align-items: center;
}

#result{ 
  display: flex;
  justify-content: flex-start;
}