* {box-sizing: border-box;}

#prob5 { display: flex; flex-wrap: wrap; }

#prob5 ul {
  border: 1px solid black;
  padding: 5px 5px 5px 20px; margin: 10px 10px;
}

#prob5 li {
  height: 25px; width: 90px;
  list-style: none;

}

#prob6 > div{ border: 1px solid black;}